body {
  background-color: #fff;
}

#container {
  display: flex;
}


#west {
  width: 50%;
  height: 100vh;
  background-color: #dfe1e5;

 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#west img {
  width: 325px;
  }

#form input {
border: 2px solid #dce7ef;
width: 100%;
height: 38px;
margin: 8px;
background-color: #fff;
outline: none;
padding: 18px;
font-size: 14px;
color: #74708d;
box-sizing: border-box;
}

.hide {
  display: none;
}

#error-message {
  background: red;
  padding: 10px;
  margin-bottom: 10px;
}

.input-e { 
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  }

.input-p {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;  
}

#login-info {
  display: flex;
  /* border: 2px solid #00B1E0; */
}

#remember-trouble {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
}

#remember {
  color:#6E6E6E;
  font-size: 12px;
  font-family: "Inter", sans-serif; 
}

#trouble a {
  color:#6E6E6E;
  text-decoration: none;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}


.button {
background-color: #00B1E0;
border: none;
border-color: transparent;
color:#6E6E6E;
padding: 0.3125rem 0.9375rem 0.375rem;
font-size: .875rem;
border-bottom-right-radius: 10px;
margin-left: 50px;
cursor: pointer;
}

#east {
  width: 50%;
  height: 100vh;
  background: url("https://d3rplhd9p4snt0.cloudfront.net/images/login/bg/bg13.jpg"); */
}